html
    head
        title Desafio 5 | PUG
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi' crossorigin='anonymous')

    body
        #1.container.mt-3
            .jumbotron
                h1(style='color:crimson;') Ingrese nuevo Producto
                br
                form(action='/productos' method='post')
                    .form-group
                        label(for='title')
                        b Nombre
                        input#title.form-control(type='text' name='title')
                    .form-group
                        label(for='price')
                        b Precio
                        input#price.form-control(type='text' name='price')
                    .form-group
                        label(for='thumbnail')
                        b Foto
                        input#thumbnail.form-control(type='text' name='thumbnail')
                    button.btn.btn-success.mt-3.mb-5 Send
                button.btn.btn-dark(onclick="location.href= '/productos/index'" type='button') Ver Historial